.detail-1{
text-align: left;
.cd-block{
    margin-top: 30px;
    margin-bottom: 40px;
}
h1,h3,h5,h6{
    color: #283034;
    font-family: Muli,sans-serif;
}
p{
    
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #283034;
    font-weight: 300;

}
.breadcump{
    padding: 16px 5px 14px;
    background-color: transparent;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 1px solid #efefef;
}
.course-txt{
    h3{
        font-weight: 800;
        padding-right: 10%;
        margin-bottom: 20px;
        font-size: 2.5rem;
    }
    .date{
        color: #888;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 2px;
    }
    .rating{
        color: #888;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 2px;
        position: relative;
        display: inline-block;
    }

    .what-you-learn{
        background-color: #f6f6f6;
        border: 1px solid #f0f0f0;
        margin: 45px 0;
        padding: 30px 25px;
        border-radius: 10px;
        ul{
            li{
                font-size: .975rem;
                list-style: disc;
                margin-bottom: 7px;
                color: #283034;
            }
        }
    }
}

.requriments{
  
    h5{
        line-height: 1;
        margin-bottom: 20px;
        font-size: 1.5rem;
    }
    p{
        margin-bottom: 1rem;
    }
    ul{
        li{
            margin-bottom: 1rem;
            font-size: 1.05rem;
        }
    }
}
.c-description{
 
    p{
        font-size: 1.05rem;
        margin-bottom: 1rem;
    }
    ul{
        li{
            margin-bottom: 4px;
        }
    }
}
.cs-target{
 
    ul{
        li{
            margin-bottom: 4px;
            font-size: 1.05rem;
        }
    }
}
.cs-content{
    h5{
        line-height: 1;
        margin-bottom: 20px;
        font-size: 1.5rem;
    }
    p{
        font-size: 1.125rem;
    }
    }

    .review{
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 25px 40px;
        margin-bottom: 40px;
        border-radius: 4px;
        .review-txt{
            p{
                font-size: 1rem;
                line-height: 1.5;
                margin-bottom: 15px;
            }

        }
        .review-author{
            .author-avatar{
                img{
                    width: 70px;
                    height: 70px;
                    display: inline-block;
                    margin: 0 15px 0 0;
                    border-radius: 100%;
                }
            }
            .review-a{
                h5{
                    font-size: 1.075rem;
                    font-weight: 700;
                    line-height: 1;
                    margin-bottom: 2px;
                }
            }
        }
    }

 
}

