.footer{
    padding-top: 100px;
    .logo-foot{
    .logo{
        width: 40%;
        margin-bottom: 20px;
    }
    p{
      text-align: left;
      color: #283034;
      font-size: 1.05rem;
    }
    }

    .footer-links{
        letter-spacing: 0;
        margin-bottom: 50px;
        text-align: left;
        padding: 0px  10px;
        h5{
          margin-bottom: 25px;  
          font-weight: 700;
        }
        ul{
            li{
                width: auto!important;
                display: block!important;
                clear: none!important;
                font-size: 1.05rem;
                margin: 0 0 9px;
                padding: 0;

                a{
                    text-decoration: none;
                    color:  rgb(20, 20, 20);
                }
            }
        }
    }
    .footer-form{
    text-align: left;
        .newsletter-form{
           input{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            text-align: center;
            height: 48px;
            background-color: #fff;
            border: 1px solid #ccc;
            color: #757575;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 0 65px;
            margin-bottom: 10px;
            border-radius: 4px 0 0 4px;

           }
        }
       h5{
           margin-bottom: 30px;
           letter-spacing: 0;
           font-weight: 700;
           font-size: 1.25rem;
           font-family: Muli,sans-serif;
       }
        button{
        height: 48px;
        font-size: 15px;
        padding: 0 120px;
        border-radius: 4px;
        color: #fff!important;
        background-color: #ff1f59;
        border-color: #ff1f59;
        font-weight: 700;
        }
    }
    .bottom-footer{
        border-top: 1px solid #eee;
        margin-top: 20px;
        padding-top: 35px;
        ul{
            li{
                margin-right: 10px;
                a{
                    text-decoration: none;
                    color: #0f0e0e;
                    font-weight: 700;
                    border-left: 1px solid black;
                    padding-left: 5px;
                    
                }
                p{
                    color: #283034;

                }
            }
        }
    }
}